<div class="container">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
    <p id="notice"><%= notice %></p>
    <div class="page-header">
      <h1><%= @cocktail.name %></h1>
      <span class="edit-cocktail-name">
        <%= link_to '<i class="fa fa-edit"></i>'.html_safe, edit_cocktail_path(@cocktail) %>
      </span>
    </div>
    <%= image_tag @cocktail.photo.url(:banner) %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-5 col-xs-offset-2">
      <div class="description">
        <h2>Recette</h2>
        <p><%= @cocktail.description %></p>
      </div>
    </div>

    <div class="col-xs-3">
      <div class="ingredients">
      <h2>Ingredients</h2>
        <% @cocktail.doses.each do |dose| %>
        <p><%= dose.amount %> de <%= dose.ingredient.name %> <%= link_to '<i class="fa fa-times"></i>'.html_safe, cocktail_dose_path(@cocktail, dose), method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
        </p>
        <span class="add-new-dose">
          <%= link_to '<i class="fa fa-plus-circle"></i> Add Dose'.html_safe, new_cocktail_dose_path(@cocktail), class: 'btn btn-default' %>
        </span>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <div class="back">
        <%= link_to '<i class="fa fa-chevron-left"></i> Back'.html_safe, cocktails_path %>
      </div>
    </div>
  </div>
</div>