<div class="container">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <p id="notice"><%= notice %></p>
      <div class="page-header">
        <h1>Listing ingredients</h1>
        <span class="add-new-ingredient">
          <%= link_to '<i class="fa fa-plus-circle"></i> Add Ingredient'.html_safe, new_ingredient_path, class: 'btn btn-default' %>
        </span>
      </div>
    </div>

    <div class="col-xs-8 col-xs-offset-2">
      <div class="ingredients">
        <% @ingredients.each do |ingredient| %>

        <div class="col-xs-4">
          <h3><%= link_to ingredient.name, ingredient %></h3>
          <span class="remove-ingredient">
          <%= link_to '<i class="fa fa-times"></i>'.html_safe, ingredient, method: :delete, data: { confirm: 'Are you sure?' } %>
          </span>
        </div>

        <% end %>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <div class="back">
        <%= link_to '<i class="fa fa-chevron-left"></i> Back'.html_safe, ingredients_path %>
      </div>
    </div>
  </div>
</div>
